# Dependências
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Ambiente e Chaves Secretas (API SPTrans, Supabase, Redis)
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build do Next.js
/.next/
/out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Sistema Operacional e IDEs
.DS_Store
*.pem
.vscode/
.idea/
*.tsbuildinfo
next-env.d.ts
